body, h1{
    margin: 0;
    padding: 0;
    
}

*{
    font-family: 'Roboto', sans-serif;
}


.main-container, .first-container, .first-container-first-row, .first-container-second-row, .second-container, .second-container-second-row, .card {
    display: flex;
}

.main-container{


flex-direction: column;

}

.color-primary{
    color: #F9FAF8;
}

.color-secondary{
    color: #E5E7EB;
}

.color-dark{
    color: #1f2937;
}


.dark-background{
    background-color: #1F2937;
}

.blue-background{
    background-color: #3882F6;
}

.li

.size18{
    font-size: 18px;
}

.size24{
    font-size: 24px;
}

.size36{
    font-size: 36px;
}

.size48{
    font-size: 48px;
}

.first-container{
    width: 70%;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: 0 auto;
}

.first-container-first-row{
    align-items: center;
    flex: 1;
    gap: 1rem;
    margin-bottom: 3rem;
}


.link-one{
    margin-left: auto;
}

.first-container-second-row{
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
    gap: 1rem;

}

.first-container-second-row-column-one, .first-container-second-row-column-two{
    flex: 1;
}

.grey-square{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 200px;
    background-color: #b3b3b3;
    

}

button{
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.second-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.second-container-second-row{
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
}

.card{
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    text-align: center;
}

.card-outline {
    width: 150px;
    height: 150px;
    border: 0.5rem solid #3882F6;
    border-radius: 0.5rem;
}